html, body {
    margin: 0;
    padding: 0;
    background: radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}

.details {
    float: left;
    width: 200px;
}

.screen {
    float: left;
}

#toolbar {

}

#toolbar .button {
    margin: 2px;
    border-radius: 2px;
    padding: 1px;
    display: inline-block;
}

.color .icon-large {
    margin: 2px;
    height: 22px;
    width: 22px;
    border: 1px solid #eee;
}

#toolbar .button:hover {
    background-color: #a5a5a5;
}

#toolbar .button.active {
    background-color: #f5f5f5;
}

#toolbar .separator {
    margin-top: 5px;
    width: 1px;
    height: 20px;
    background-color: #333;
    margin: 0px 7px;
    display: inline-block;
}

#canvas, #editor, #texted, #output {
    position: absolute;
    margin-top: 36px;
}

#output {
    display: none;
}

#toolbar {
	margin: 5px;
}

#texted {
    border-style: none;
    background: none;
    outline: none;
    resize: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#toolbar-container {
    position: fixed;
    text-align: center;
    width: 100%;
    height: 36px;
    z-index: 100;
    background-color: gray;
    opacity: 0.9;
}

#toolbar::selection, #toolbar .button::selection {
    background-color: transparent;
}

rect:hover, path:hover, text:hover {
    cursor: move;
}

/*Submit dialog*/
#issue_dialog {
	display: none;
}
#issue {
    width: 100%;
}
#comment {
	width: 100%;
}
#issue_dialog .divLabel
{
	width: 20%;
}

#issue_dialog .divControl
{
	width: 80%;
}

.loading-indicator {
	height: 80px;
	width: 80px;
	background: url( '../img/FhHRx.gif' );
	background-repeat: no-repeat;
	background-position: center center;
}

.loading-indicator-overlay {
	background-color: #FFFFFF;
	opacity: 0.6;
	filter: alpha(opacity = 60);
}

.button-state-active {
	border: 1px solid #2694e8 !important;
	background: #3baae3 url(../img/jquery-ui/ui-bg_glass_50_3baae3_1x400.png) 50% 50% repeat-x !important;
	font-weight: bold !important;
	color: #ffffff !important;
}

.right {
    float: right;
    margin-right: 10px !important;
}
