html, body {
    margin: 0;
    padding: 0;
    background: radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}

.details {
    float: left;
    width: 200px;
}

.screen {
    float: left;
}

#toolbar-container .button {
    margin: 2px;
    border-radius: 2px;
    padding: 1px;
    display: inline-block;
}

.color .icon-large {
    margin: 2px;
    height: 22px;
    width: 22px;
    border: 1px solid #eee;
}

#toolbar-container .button:hover {
    background-color: #a5a5a5;
}

#toolbar .button.active {
    background-color: #f5f5f5;
}

#toolbar .separator {
    margin-top: 5px;
    width: 1px;
    height: 20px;
    background-color: #333;
    margin: 0px 7px;
    display: inline-block;
}

#canvas, #editor, #texted, #output {
    position: absolute;
    margin-top: 36px;
}

#output {
    display: none;
}

#toolbar {
    margin: 5px;
}

#texted {
    border-style: none;
    background: none;
    outline: none;
    resize: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#toolbar-container {
    position: fixed;
    text-align: center;
    width: 100%;
    height: 36px;
    z-index: 100;
    background-color: gray;
    opacity: 0.9;
}

#toolbar::selection, #toolbar .button::selection {
    background-color: transparent;
}

rect:hover, path:hover, text:hover {
    cursor: move;
}

/*Submit dialog*/
#issue_dialog {
    display: none;
}

.loading-indicator {
    height: 80px;
    width: 80px;
    background: url('../img/FhHRx.gif') no-repeat center center;
}

.loading-indicator-overlay {
    background-color: #FFFFFF;
    opacity: 0.6;
    filter: alpha(opacity = 60);
}

.right {
    float: right;
}
.tabContainer {
    width: 94%;
    height: 37px;
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    font-size: 17px;
}

.tab {
    width: 47.6%;
    height: 36px;
    line-height: 36px;
    padding-left: 8px;
    cursor: pointer;
    float: left;
    border: 1px solid gray;
    border-bottom-width: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-weight: bold;
    background: -webkit-linear-gradient(top, #FFF,  #ABA69E);
    background: -moz-linear-gradient(top,  #FFF,  #ABA69E);
}

.tab.active {
    height: 37px;
    background: white;
    border-bottom: 0;    
}

.control {
    width: 100%;
    margin-top: 10px;
    clear: both;
}
.submit-div {
    height: 40px;
    margin-top: 7px;
}
.caption {
    width: 25%;
    margin-top: 3px;
    display: block;
    float: left;
}
.editor {
    width: 74%;
    margin: 0px;
    padding: 0px;
    resize: none;
}
#forms {
    border: 1px solid gray;
    padding: 10px 6px;
    font-family: sans-serif;
    font-size: 15px;
}
.close-cont {
    width: 6%;
    height: 37px;   
    display: table;
}
.close {
    border: 1px solid red;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin: 7px 2px;
    padding: 0px 5px;
    font-weight: bold;
}
.close:hover {
    background-color: red;
    color: white;
}

#palette, #copy {
    position: absolute;
    display: table;
}
.popup {
    margin: 0px auto;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: #777;
    /*box-shadow: 2px 2px 5px #000;*/
}
.popup-arrow {
    border-color: transparent transparent #777;
    border-style: solid;
    border-width: 0 10px 10px;
    margin: 0 auto;
    height: 0;
    width: 0;
}

.validationMessage {
    color: #f00;
    float: right;
    padding: 5px;
}

/* Ui Dialog customize */
.ui-dialog .ui-dialog-titlebar {
    display: none;
}
.ui-dialog .ui-dialog-content {
    padding: 0px;
}
.ui-widget-content {
    background: white;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    border: 1px solid gray;
    font-family: sans-serif;
    font-size: 1.1em;
}
.ui-widget input.editor {
    height: 22px;
}