.icon-large {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    vertical-align: text-bottom;
    width: 28px;
    background-repeat: no-repeat;
}
.icon-large.icon-font { background-image: url(../img/icons/font.png); }
.icon-large.icon-crop { background-image: url(../img/icons/crop.png); }
.icon-large.icon-arrow { background-image: url(../img/icons/arrow.png); }
.icon-large.icon-rect { background-image: url(../img/icons/rect.png); }
.icon-large.icon-move { background-image: url(../img/icons/move.png); }
.icon-large.icon-ok { background-image: url(../img/icons/ok.png); }
.icon-large.icon-export { background-image: url(../img/icons/export.png); }
.icon-large.icon-undo { background-image: url(../img/icons/undo.png); }
.icon-large.icon-save { background-image: url(../img/icons/save.png); }
.icon-large.icon-options { background-image: url(../img/icons/options.png); }
.icon-large.icon-copy { background-image: url(../img/icons/copy.png); }
.icon-large.icon-imgur { background-image: url(../img/icons/imgur.png); }